<?xml version="1.0" encoding="UTF-8"?>

<!-- Make sure to give the correct name of this xml file as spring-servlet.xml i.e. name of the dispatcher servlet
-servlet then only web.xml will be able to read this servlet -->

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">
	
	<context:component-scan 
		base-package="productcrudapp" />
	
	<!-- For enabling transactional annotation -->
	<tx:annotation-driven/>
	
	<!-- Setting up the internal view resolver -->
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		  name="viewResolver">
		  
		  <property name="prefix" value="/WEB-INF/views/" />
		  <!-- To see in which folder we will have views (for starting of the page) -->
		  <property name="suffix" value=".jsp"></property>
		  <!-- For ending of the page i.e. where the page is ending (flow wise) -->
		  
	</bean>	
		
	<!-- Configuring Spring-ORM AKA Hibernate using Spring -->
	<!-- Driver Manager Data Source -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="ds">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/productcrud" />
		<property name="username" value="root" />
		<property name="password" value="1234" />
	</bean>

    <!-- Local Session Factory Bean -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="factory">
	
		<!-- Data Source -->
		<property name="dataSource" ref="ds"></property>
		
		<!-- Hibernate Properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- Annotated class -->
		<property name="annotatedClasses">
			<list>
				<value>productcrudapp.model.Product</value>
			</list>
		</property>
	</bean>

	<!-- Hibernate Template -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>
	</bean>
	
	<!-- To enable the write operations we need to add Transaction Manager -->
	<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
		<property name="sessionFactory" ref="factory"/>
	</bean>
	
</beans>

<!-- 
/WEB-INF/views/hello.jsp
Here the name (hello) of the servlet will be coming dynamically from the controller 
-->

